@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #293845;
}

.top-bar {
    font-family: 'Roboto';
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8833A;
    font-size: 34px;
    line-height: 40px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    font-size: 24px;
    font-family: 'Roboto';
    letter-spacing: 4%;
}

.btn {
    font-family: 'Roboto';
    width: 225px;
    height: 42px;
    background-color: #E8833A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 147px auto;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 4%;
    line-height: 21px;
}

.selected {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 117px;
    background-color: #DFE6ED;
    padding: 14px 10px;
}